.streamersBody {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
}

.streamerListWrapper {
    display: flex;
    flex-wrap: wrap;
}

div.streamerList {
    width: 500px;
    margin: 20px;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #122941;
    border-radius: 10px;
}

div.streamerList h1 {
    font: bold 30px Helvetica, Verdana, sans-serif;
    color: #eee
}

div.streamerList h5, div.streamerList h6 {
    color: #eee;
}
 
div.streamerList img {
    float: left;
    margin: 0px 15px 0 0;
}

div:hover.streamerList {
    background: #1c4269;
    cursor: pointer;
}