.streamers2 {
    display: flex;
    flex-direction: column;
    min-width: 400px;

    .streamer2 {
        height: 60px;

        display: flex;
        margin: 20px 60px;
        padding: 5px;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        background-color: orange;

        &:hover {
        }
    }
}
