.streamerListWrapper {
    display: flex;
    flex-wrap: wrap;
}


div.streamerList {
    flex: 1 1 41%;
    margin: 20px;
    border: 2px solid #122941;
    min-width: 400px;
    max-width: 600px;
    box-shadow: 10px 10px 5px grey;
    background-color: #122941;
    border-radius: 10px;
}

div.streamerList h1 {
    font: bold 30px Helvetica, Verdana, sans-serif;
    color: #eee
}

div.streamerList h5, div.streamerList h6 {
    color: #eee;
}
 
div.streamerList img {
    float: left;
    margin: 0px 15px 0 0;
}

div:hover.streamerList {
    background: #1c4269;
    cursor: pointer;
}