.followed {
    display: flex;
    flex-direction: column;
    min-width: 400px;

    .followed-streamer {
        height: 60px;
        display: flex;

        margin: 20px 60px;
        padding: 5px;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        background-color: #121a21;
        color: whitesmoke;
    }
}

.unauth {
    margin: 20px;
    button {
        padding: 10px 80px;

        outline: none;
        border: none;

        background-color: #121a21;
        color: whitesmoke;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: #30475e;
        }
    }
}
