.recent-games-header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #121a21;
    box-shadow: 0px 0px 3px 1px black;

    .recent-games-title {
        color: whitesmoke;
        font-weight: 600;
        padding: 0 20px;
    }

    button {
        outline: none;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: white;
        }
    }
}

.recent-games {
    display: flex;
    justify-content: center;
    position: relative;

    .list {
        overflow: hidden;
        width: 100%;

        .items {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
            left: -100%;

            @media (min-width: 600px) {
                left: -50%;
            }
            @media (min-width: 900px) {
                left: -33.33333%;
            }

            @media (min-width: 1200px) {
                left: -25%;
            }
            @media (min-width: 1500px) {
                left: -20%;
            }
            @media (min-width: 1800px) {
                left: -16.66666%;
            }

            &.reverse {
                transform: translateX(-100%);
                @media (min-width: 600px) {
                    transform: translateX(-50%);
                }
                @media (min-width: 900px) {
                    transform: translateX(-33.33333%);
                }
                @media (min-width: 1200px) {
                    transform: translateX(-25%);
                }
                @media (min-width: 1500px) {
                    transform: translateX(-20%);
                }
                @media (min-width: 1800px) {
                    transform: translateX(-16.66666%);
                }
            }

            &.forward {
                transform: translateX(100%);
                @media (min-width: 600px) {
                    transform: translateX(50%);
                }
                @media (min-width: 900px) {
                    transform: translateX(33.33333%);
                }
                @media (min-width: 1200px) {
                    transform: translateX(25%);
                }
                @media (min-width: 1500px) {
                    transform: translateX(20%);
                }
                @media (min-width: 1800px) {
                    transform: translateX(16.66666%);
                }
            }

            &.reset {
                transform: none;
                transition: transform 0.4s cubic-bezier(0.25, 1, 0.35, 1);
            }
        }
    }
}

.recent-game-item {
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    margin-bottom: 20px;
    @media (min-width: 600px) {
        flex-basis: 50%;
    }
    @media (min-width: 900px) {
        flex-basis: 33.33333%;
    }
    @media (min-width: 1200px) {
        flex-basis: 25%;
    }
    @media (min-width: 1500px) {
        flex-basis: 20%;
    }
    @media (min-width: 1800px) {
        flex-basis: 16.66666%;
    }

    div {
        max-width: 240px;
        height: 45px;
        line-height: 45px;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .container {
        position: relative;
        width: 200px;
        height: 300px;
        box-shadow: 0px 0px 10px 1px black;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }

        img {
            border-radius: 5px;
        }

        .overlay {
            background: linear-gradient(
                -180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.5) 30%,
                rgba(0, 0, 0, 0.7) 50%,
                rgba(0, 0, 0, 0.9) 100%
            );
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 35px;
            pointer-events: none;

            p {
                margin: 0;
                padding: 0;
                color: #ffd700;
                font-size: 14px;
                padding-left: 5px;
            }
        }
    }
}

.recent-games-controls {
    position: absolute;
    color: #fff;
    font-size: 5em;
    background: rgb(0, 0, 0);
    width: 80px;
    text-align: center;
    padding-top: 110px;
    z-index: 1;

    &:hover {
        cursor: pointer;
    }

    &.left {
        top: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
    &.right {
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
}

.recent-games-footer {
    background-color: #121a21;
    height: 30px;
    box-shadow: 0px 0px 3px 1px black;
}
