.topStreamers {
    width: 250px;
    height: 100%;

    background-color: #122941;
    color: #d0d0d0;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    overflow: auto;

    .topStreamer {
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #1c4269;
            cursor: pointer;
        }

        &:focus {
            background-color: #1c4269;
        }

        img {
            border-radius: 50%;
        }
    }

    &.hidden {
        width: 50px;
    }
}
