div.topStreamers {
    background-color: #122941;
    position: fixed;
    width: 250px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

div.topStreamersMini {
    background-color: #122941;
    position: fixed;
    width: 50px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

a.topStreamers { 
    background-color: #122941;
}

a.topStreamersMini { 
    background-color: #122941;
    padding: 5px;
}

a:hover.topStreamers {
    background-color: #1c4269;
}

a:focus.topStreamers {
    background-color: #1c4269;
}

.list-group { 
    width: 100%;
}

.listMini { 
    width: 100%;
}
 
small {
    color: text-light;
}

img.topStreamersImg {
    border-radius: 50%;
}