div.topStreamers {
    width: 250px;
}

div.topStreamersMini {
    width: 50px;
}

a.topStreamers { 
    background-color: #122941;
}

a.topStreamersMini { 
    background-color: #122941;
    padding: 5px;
}

a:hover.topStreamers {
    background-color: #1c4269;
}

a:focus.topStreamers {
    background-color: #1c4269;
}

.list-group { 
    width: 100%;
}

.listMini { 
    width: 100%;
}
 
small {
    color: text-light;
}

img.topStreamersImg {
    border-radius: 50%;
}