.streamer-details {
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    background-color: #1c2934;
    color: whitesmoke;

    .img-wrapper {
        border-radius: 0 0 5px 5px;
        background-color: #121a21;
        box-shadow: 0px 0px 3px 1px black;
        display: flex;
        flex-direction: column;

        img {
            width: 10vw;
            height: 10vw;
            max-width: 200px;
            max-height: 200px;
            min-height: 100px;
            min-width: 100px;
            border-radius: 5px 5px 0 0;
        }

        div {
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 16px;
            letter-spacing: 2px;
            font-weight: 700;
            color: red;

            &.live {
                color: green;

                .icon {
                    margin-right: 3px;
                }
            }
        }
    }

    .info {
        flex: 1;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .streamer-name {
            font-size: 5vw;
            line-height: 5vw;
            font-weight: 600;

            @media (max-width: 400px) {
                font-size: 20px;
                line-height: 20px;
            }

            @media (min-width: 1570px) {
                font-size: 80px;
                line-height: 80px;
            }
        }

        .small-info {
            margin-left: 3px;
            font-size: 14px;
            color: #ffd700;

            span {
                color: #c4c4c4;
            }

            &.follow-age {
                height: 20px;
            }
        }
    }
}

.streamer-follow-btn {
    button {
        outline: none;
        border: none;
        width: 165px;
        padding: 12px 0;
        margin-top: 3px;
        border-radius: 5px;
        font-weight: 500;
        background-color: #1f3344;
        box-shadow: 0px 0px 1px 1px black;
        color: whitesmoke;

        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }

        &.unfollow {
            background-color: #b3313c;
        }
    }
}
