.roundedImg {
    border-radius: 10px;
}

.row {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 10px;
}

.block {
    flex: 0 0 150px;
    background-color: #122941;
    border: 1px solid black;
    margin: 1em;
    border-radius: 5px;
}

.recentGameName {
    white-space: nowrap;
    margin: 5px 3px;
    text-align: center;
    font: 14px Helvetica, Verdana, sans-serif; 
    color: white;
    text-overflow: ellipsis;
    width: 144px;
    overflow: hidden;
}

.recentGameImg {
    width: 100%;
    height: auto;
}

.block:hover {
    background-color: #1c4269;
    cursor: pointer;
}


.innerbox {
    height: 200px;
    min-width: 200px;
    border: 1px solid #122941; 
    overflow: scroll;
    background: linear-gradient(#e66465, #9198e5);
}

.infoRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.upperBody {
    background-color: #c3c7cc;
}

.streamerView {
    background-color: #696969;
    min-height: 100%;
}

@media screen and (max-width: 1400px) {
    .infoRow {
        flex-wrap: wrap;
    }

}
  
@media screen and (max-width: 800px) {
    .flex-container {
        flex-wrap: wrap;
    }
    .searchGamesTextDiv {
        width: 200px !important;
    }
}

.boxLeft {
    flex-grow: 2;
    flex-basis: 0;
    
}

.boxRight {
    flex-grow: 1;
    flex-basis: 0;
}

.card {
    box-shadow: 10px 10px 5px grey;
    background-color: white;
    padding: 20px;
    margin: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container-div {
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 5px grey;
}

.streamerName {
    font-size: 5vw;
    color: #122941;
    text-shadow: -1px 0 DimGrey, 0 1px DimGrey, 1px 0 DimGrey, 0 -1px DimGrey;
}


.recentGames {
    background: linear-gradient(to bottom, #122941, DimGrey);
    min-height: 350px;
}

.recentGamesSearch {
    margin-top: 10px;
    height: 60px;
    
    background-color: #696969;
}


.searchGamesTextDiv {
    height: 100%;
    width: 350px;
    display: flex;
}
.searchGamesText {
    margin: auto;
    font: bold 15px Helvetica, Verdana, sans-serif;
}

.searchGamesButtonDiv {
    height: 100%;
    width: 250px;
    display: flex;
}
.searchGamesButton {
    margin: auto;
}


.tag-wrapper {
    max-height: 300px;
    min-width: 300px;
    overflow: auto;
}

.tag {
    padding: 10px;
}

.tag-text {
    display: inline;
    background-color: white;
    padding: 2px 10px;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.tag-remove {
    display: inline;
    padding: 2px 5px;
    border-radius: 0px 5px 5px 0px; 
    background-color: #122941;
    color:white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.tag-remove:hover {
    background-color: #1c4269;
    cursor: pointer; 
}

.followedGames {
    padding: 20px 0px 0px 10px;
    color: #1c4269;
}
