.container {
    width: 100%;
    height: 100%;
    background-color: green;
    display: grid;
    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
    grid-template-rows: [row1-start] 220px [row1-end] 200px [third-line] auto [last-line];
}

.item-a {
    grid-column: first / span 3;
    grid-row: row1-end / span 1;
    background-color: orange;
}

.item-b {
    grid-column: 3 / span 2;
    grid-row: third-line / 4;
    background-color: red;
}

.streamer {
    width: 100%;
    height: 100%;
    background-color: #18181b;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tops {
    padding: 10px;
    display: flex;
    flex-direction: row;

    align-items: center;
    font-size: 9vw;
    height: 200px;
}

.follow {
    margin: 20px;
    button {
        outline: none;
        border: none;
        padding: 12px 50px;
        border-radius: 5px;
        background-color: #202e3a;
        color: whitesmoke;

        &:hover {
            cursor: pointer;
            background-color: #30475e;
        }
    }
}

.recent-games-header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0c0c0c;
    box-shadow: 0px 0px 2px 2px black;
    .recent-games-title {
        color: whitesmoke;
        padding: 0 20px;
    }

    button {
        outline: none;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: white;
        }
    }
}

.recent-games {
    display: flex;
    justify-content: center;
    background-color: #242424;
    position: relative;

    .list {
        overflow: hidden;
        width: 100%;

        .items {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
            left: -100%;

            @media (min-width: 600px) {
                left: -50%;
            }
            @media (min-width: 900px) {
                left: -33.33333%;
            }

            @media (min-width: 1200px) {
                left: -25%;
            }
            @media (min-width: 1500px) {
                left: -20%;
            }
            @media (min-width: 1800px) {
                left: -16.66666%;
            }

            &.reverse {
                transform: translateX(-100%);
                @media (min-width: 600px) {
                    transform: translateX(-50%);
                }
                @media (min-width: 900px) {
                    transform: translateX(-33.33333%);
                }
                @media (min-width: 1200px) {
                    transform: translateX(-25%);
                }
                @media (min-width: 1500px) {
                    transform: translateX(-20%);
                }
                @media (min-width: 1800px) {
                    transform: translateX(-16.66666%);
                }
            }

            &.forward {
                transform: translateX(100%);
                @media (min-width: 600px) {
                    transform: translateX(50%);
                }
                @media (min-width: 900px) {
                    transform: translateX(33.33333%);
                }
                @media (min-width: 1200px) {
                    transform: translateX(25%);
                }
                @media (min-width: 1500px) {
                    transform: translateX(20%);
                }
                @media (min-width: 1800px) {
                    transform: translateX(16.66666%);
                }
            }

            &.reset {
                transform: none;
                transition: transform 0.4s cubic-bezier(0.25, 1, 0.35, 1);
            }

            .item {
                flex: 1 0 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                color: whitesmoke;
                margin-bottom: 20px;
                @media (min-width: 600px) {
                    flex-basis: 50%;
                }
                @media (min-width: 900px) {
                    flex-basis: 33.33333%;
                }
                @media (min-width: 1200px) {
                    flex-basis: 25%;
                }
                @media (min-width: 1500px) {
                    flex-basis: 20%;
                }
                @media (min-width: 1800px) {
                    flex-basis: 16.66666%;
                }

                div {
                    max-width: 240px;
                    margin: 15px 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                img {
                    //box-shadow: 0 0 3px whitesmoke;
                    box-shadow: 0px 0px 10px 1px black;
                    border-radius: 5px;
                }

                img:hover {
                    cursor: pointer;
                }
            }
        }
    }

    a {
        position: absolute;
        color: #fff;
        text-decoration: none;
        font-size: 5em;
        background: rgb(0, 0, 0);
        width: 80px;
        text-align: center;
        padding-top: 110px;
        z-index: 1;

        &:hover {
            cursor: pointer;
        }

        &:nth-of-type(1) {
            top: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
        }
        &:nth-of-type(2) {
            top: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
        }
    }
}

.followed-games {
    margin-bottom: 20px;
    margin-left: 20px;

    .header {
        font-weight: 600;
        color: #122941;
    }

    .tag {
        padding: 10px;

        .name {
            display: inline;
            background-color: white;
            padding: 2px 10px;
            border-radius: 5px 0px 0px 5px;
            box-shadow: 0px 0px 5px 0px whitesmoke;
        }

        .remove {
            display: inline;
            padding: 2px 5px;
            border-radius: 0px 5px 5px 0px;
            background-color: #122941;
            color: white;
            box-shadow: 0px 0px 5px 0px whitesmoke;

            &:hover {
                background-color: #1c4269;
                cursor: pointer;
            }
        }
    }
}

.follow-prompt {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(1, 1, 1, 0.93);
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}
