.streamer {
    background-color: #696969;
    min-height: 100%;
}

.streamer-container {
    background-color: #c3c7cc;
}

.streamer-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

@media screen and (max-width: 1400px) {
    .streamer-info {
        flex-wrap: wrap;
    }

}

.streamer-left-container {
    flex-grow: 2;
    flex-basis: 0;
}

.streamer-right {
    flex-grow: 1;
    flex-basis: 0;
}


.streamer-left {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    .streamer-left {
        flex-wrap: wrap;
    }
}

.streamer-left-box {
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 5px grey;
}

.streamer-logo {
    border-radius: 10px;
}

.streamer-name {
    font-size: 5vw;
    color: #122941;
    text-shadow: -1px 0 DimGrey, 0 1px DimGrey, 1px 0 DimGrey, 0 -1px DimGrey;
}

.streamer-preview {
    max-width: 500px;
    min-width: 400px;
}

.streamer-preview-img {
    max-width: 100%;
    height: auto;
}

.streamer-personal-info {
    box-shadow: 10px 10px 5px grey;
    background-color: white;
    padding: 20px;
    margin: 10px;
}

.streamer-followed-games__title {
    padding: 20px 0px 0px 10px;
    color: #1c4269;
}

.streamer-followed-games__container {
    max-height: 300px;
    min-width: 300px;
    overflow: auto;
}

.streamer-recent-games__container {
    background: linear-gradient(to bottom, #122941, DimGrey);
    min-height: 250px;
}

.streamer-search-recent-games_container {
    margin-top: 10px;
    height: 60px;
    background-color: #696969;
}

.streamer-search-recent-games {
    height: 100%;
    width: 100%;
    display: flex;
}

.streamer-search-recent-games__title__container {
    height: 100%;
    width: 400px;
    display: flex;
}
.streamer-search-recent-games__title {
    margin: auto;
    font: bold 15px Helvetica, Verdana, sans-serif;
}

.streamer-search-recent-games__btn__container {
    height: 100%;
    width: 250px;
    display: flex;
}

.streamer-search-recent-games__btn {
    margin: auto;
}

.streamer-recent-games {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 10px;
}

.streamer-recent-game {
    flex: 0 0 150px;
    position: relative;
    background-color: #122941;
    border: 1px solid black;
    margin: 1em;
    border-radius: 5px;
}

.streamer-recent-game:hover .streamer-recent-game__overlay {
    background-color: #1c4269;
    cursor: pointer;
    opacity: 1;
    border-radius: 5px;
}


.streamer-recent-game__title {
    
    width: 100%;
    margin: 5px 3px;
    text-align: center;
    font: 35px Helvetica, Verdana, sans-serif; 
    color: white;
}

.streamer-recent-game__name {
    background-color: white;
    padding: 10px 2px;
    width: 100%;
    margin: 5px 3px;
    text-align: center;
    font: 20px Helvetica, Verdana, sans-serif; 
    color: #1c4269;
    overflow: hidden;
    text-overflow: ellipsis;
}

.streamer-recent-game__logo {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.streamer-recent-game__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.streamer-game-tag {
    padding: 10px;
}

.streamer-game-tag__name {
    display: inline;
    background-color: white;
    padding: 2px 10px;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.streamer-game-tag__remove {
    display: inline;
    padding: 2px 5px;
    border-radius: 0px 5px 5px 0px; 
    background-color: #122941;
    color:white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.streamer-game-tag__remove:hover {
    background-color: #1c4269;
    cursor: pointer; 
}
