.extended-bar {
    height: 100%;
    width: 100%;

    padding-left: 10px;

    display: flex;
    flex-direction: column;
    z-index: -1;

    div {
        display: flex;
        align-items: center;
        height: 56px;

        .user-btn {
            padding-left: 5px;
        }
    }

    .link:hover {
        cursor: pointer;
    }
}
