
.logInModal {
    background-color: #1c4269;
}

.login {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.loginButton {
    margin: 0px 10px;
}

.loggedInLogoWrapper {
    width: 200px;
    padding-top: 0px;
}

.loggedInLogo {
    float: right;
    margin-right: 10px;
}

.loggedInLogoExpanded {
    float: left;
    border-radius: 5px;
    margin-left: 10px;
}

.loggedInLogo:hover {
    cursor: pointer;
}

.userOptions {
    border-radius: 5px;
    position: relative;
    display: inline-block;
}

.userOptions-items {
    position: absolute;
    margin-top: 40px;
    left: 10px;
    right: 10px;
    background-color: #262626;
    color: white;
    border: 10px solid #262626;
    border-radius: 0 0 3px 3px;

}

.userOptionsSplit {
    background-color: white;
    border: 1;
    border-color: white;
    margin: 5px 10px 5px 10px;
}

.userOptions-item {
    display: flex;
    align-items: center;
    color: white;
    height: 40px;
}

.userOptions-item i {
    padding-left: 8px;
}

.userOptions-item p {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}

.userOptions-signedin {
    font-size: 10px;
}

.userOptions-name {
    font-size: 20px;
    margin-left: 15px;
    padding-right: 10px;
    color: white;
    background-color: #1c4269;
    border-radius: 5px;
    font-weight: bold;
}

.userOptions-item-selectable {
    cursor: pointer;
}

.userOptions-item-selectable:hover {
    background-color: #1c4269;
    border-radius: 5px;
}







.flexboxContainer{
    position: fixed;
    top: 0;
    display: flex;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1;
    background-color: #1c4269;
    flex-direction: row;
}

.flexboxContainerMini {
    position: fixed;
    top: 0;
    display: flex;
    left: 0;
    right: 0;
    height: auto;
    z-index: 1;
    background-color: #1c4269;
    flex-direction: column;
}

.flexboxItem{
    width: auto;
    padding: 14px 16px;
    flex: 0 0 auto;
}

.flexboxItemRight {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;

}

.flexboxItemRightMini {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flexboxitemSearch {
    flex: 1 1 auto; 
}

.flexboxitemLogout {
    width: 100px;
    flex: 0 0 auto;
    
}

.centerSearchBar {
    width: 400px;
    margin: auto;
}

.centerSearchBarMini {
    width: 400px;
    margin-left: 0;
}

.navbar-link-title {
    font-weight: bold;
    color: white;
    overflow:hidden;
    text-decoration: none;
}

.navbar-link-title:hover {
    font-weight: bold;
    color: black;
    overflow:hidden;
    text-decoration: none;
}

.navbar-link-title p {
    color: #1c4269;
    width: max-content;
    padding: 1px 5px;
    background-color: #122941;
    border-radius: 5px;
}

.navbar-link-title p:hover {
    background-color: white;
}

.navbar-link, .navbar-link-mini {
    color: white;
    overflow:hidden;
    text-decoration: none;
}

.navbar-link:hover {
    color: white;
    background-color: #122941;
    text-decoration: none;
    border-bottom: 3px solid white;
}

.navbar-link-mini:hover {
    color: white;
    background-color: #122941;
    text-decoration: none;
}

.bars {
    color: #122941;
    text-shadow: 1px 1px 1px #1c4269;
    
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding-top: 10px;
}

.bars:hover {
    
    color: white;
}

