.flex {
    display: flex;
    align-self: center;
    justify-self: center;
}

.navbar {
    //background-color: #1c4269;
    background-color: #202e3a;
    //box-shadow: 0 0 10px black;
    box-shadow: 0px 0px 5px 3px black;

    height: 56px;
    transition: height 0.5s ease-in;
    z-index: 3;

    display: flex;
    flex-direction: column;
    color: whitesmoke;

    &.navExpanded {
        height: 180px;
        z-index: 1;
        transition: height 0.5s ease-in;
    }

    .top {
        height: 56px;
        display: flex;
        flex-direction: row;
        padding: 0 10px;
        justify-content: space-between;

        div {
            display: flex;
            height: 100%;

            flex-direction: row;

            .title {
                padding: 0 20px;
                font-size: 28px;
                font-weight: 700;
                line-height: 56px;
                text-decoration: none;
                color: whitesmoke;

                &:hover {
                    color: white;
                }
            }

            hr {
                opacity: 0.3;
            }

            .followed-link {
                width: 120px;
                margin: 0 10px;
                line-height: 56px;
                text-align: center;
                text-decoration: none;
                color: whitesmoke;
                font-weight: 500;

                &:hover {
                    border-bottom: 5px solid whitesmoke;
                }
            }

            .user-btn {
                width: 50px;
                height: 100%;

                &.wide {
                    width: 60px;
                    padding: 7px 8px;

                    button {
                        height: 35px;
                        width: 100%;
                        line-height: 35px;
                        font-weight: 500;
                        font-size: 15px;
                        border: none;
                        outline: none;
                        border-radius: 5px;
                        background-color: #121a21;
                        color: whitesmoke;

                        &:hover {
                            cursor: pointer;
                            background-color: #30475e;
                        }
                    }
                }

                .indicator {
                    background-color: red;
                    z-index: 10;
                    position: absolute;
                    top: 6px;
                    right: 4px;
                    width: 14px;
                    height: 14px;
                    pointer-events: none;
                    border-radius: 50%;
                }

                .icon {
                    padding: 8px 10px;
                    border-radius: 8px;
                    font-size: 24px;
                    position: relative;

                    &:hover {
                        cursor: pointer;
                        background-color: #30475e;
                    }
                }

                .bars {
                    padding: 5px 10px;
                    border-radius: 8px;

                    &:hover {
                        cursor: pointer;
                        background-color: #30475e;
                    }
                }
            }
        }
        .input-wrap {
            align-items: center;
            justify-content: center;
            flex: 1 1 auto;
            max-width: 500px;
            margin-right: 10px;

            .input {
                max-height: 40px;
                width: 100%;
                box-sizing: border-box;
                padding: 0 3px;
                z-index: 1;

                .icon {
                    height: 100%;
                    box-sizing: border-box;
                    border-radius: 7px 0 0 7px;
                    font-size: 20px;
                    color: whitesmoke;
                    background-color: #121a21;
                }

                .input {
                    height: 100%;
                    width: 100%;
                    box-sizing: border-box;
                    border-radius: 0 7px 7px 0;
                    background-color: #121a21;
                    color: rgb(114, 114, 114);
                    line-height: 40px;
                    font-weight: 300;
                }

                &:hover {
                    cursor: text;
                }
            }
        }
    }

    .bottom {
        height: auto;

        flex: 1;
    }
}

.inputfield {
    border-radius: 5px;
    width: 150px;
    border: none;

    padding: 5px 5px;

    background-color: whitesmoke;
    color: black;

    padding-left: 10px;

    box-sizing: border-box;
    font-size: 18px;
}

.inputfield:focus {
    outline-width: 0;
}
