.flex {
    display: flex;
    align-self: center;
    justify-self: center;
}

.navbar {
    //background-color: #1c4269;
    background-color: #202e3a;

    height: 56px;
    transition: height 0.5s ease-in;

    padding: 0 10px;
    display: flex;
    flex-direction: column;
    color: whitesmoke;

    &.navExpanded {
        height: 180px;
        transition: height 0.5s ease-in;
    }

    .top {
        height: 56px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            display: flex;
            height: 100%;

            flex-direction: row;

            .title {
                height: 100%;
                padding: 0 20px;
                font-size: 28px;
                font-weight: 700;
            }

            hr {
                opacity: 0.3;
            }

            .followed-link {
                width: 120px;
                line-height: 56px;
                text-align: center;
                text-decoration: none;
                color: whitesmoke;
                font-weight: 500;

                &:hover {
                    color: yellow;
                }
            }

            .user-btn {
                width: 50px;
                height: 100%;

                &.wide {
                    width: 60px;
                    padding: 7px 8px;
                    text-decoration: none;

                    a {
                        height: 35px;
                        width: 100%;
                        text-align: center;
                        line-height: 35px;
                        background-color: #121a21;
                        border-radius: 5px;

                        &:hover {
                            cursor: pointer;
                            background-color: #30475e;
                        }
                    }
                }

                .icon {
                    padding: 8px 10px;
                    border-radius: 8px;
                    font-size: 24px;

                    &:hover {
                        cursor: pointer;
                        background-color: #30475e;
                    }
                }

                .bars {
                    padding: 5px 10px;
                    border-radius: 8px;

                    &:hover {
                        cursor: pointer;
                        background-color: #30475e;
                    }
                }
            }
        }
        .search {
            display: flex;
            align-items: center;
            justify-content: center;
            input {
                height: 65%;
                width: 90%;
                padding: 0 10px;
                outline: none;
                border-radius: 0 5px 5px 0;
                border-left: none;
                font-size: 16px;
                color: white;
                background: transparent;
            }
        }
    }

    .bottom {
        height: auto;

        flex: 1;
    }
}

.inputfield {
    border-radius: 5px;
    width: 150px;
    border: none;

    padding: 5px 5px;

    background-color: whitesmoke;
    color: black;

    padding-left: 10px;

    box-sizing: border-box;
    font-size: 18px;
}

.inputfield:focus {
    outline-width: 0;
}
