.navbar-custom {
    background-color: #1c4269;
    height: 50px;
    z-index: 1;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    padding-right: 0px;
}

.navbar-custom-expaneded {
    background-color: #1c4269;
    height: auto;
    z-index: 1;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .navbar-nav .nav-link:focus  {
    color: white;
    
}

.logInModal {
    background-color: #1c4269;
}

.login {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

input.form-control.searchBar {
    height: 30px;
    width: 450px;
    background-color:#122941;
    color:white;
    border: none
}

input.form-control:focus.searchBar {
    background-color:#122941;
    color:white;
    border: none
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: white;
}
input::-webkit-input-placeholder {
    color: white !important;
}


.userLogo {
    width: 200px;
}



.logoButton2 {
    float: right;
}

.userOptions {
    position: relative;
    display: inline-block;
}

.userOptions-items {
    margin-top: 2px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #1c4269;
    color: white;
    border-radius: 0 0 10px 10px;
}

.userOptions-items div {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    cursor: pointer;
    padding: 20px;
}

.userOptions-2 {
    float: left;
    text-decoration: none;
}

.userOptions-items div:hover {
    background-color: #122941;
}

hr.userOptionsSplit {
    background-color: green;
    border: 0;
    border-color: yellow;
    margin: 1px 10px 1px 10px;
}