.notifications--background {
    background-color: #1c4269;
    color: white;
}

.notifications__header {
    height: 50px;
    width: 100%;
    background-color: #262626;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.notifications__clear-btn {
    position: absolute;
    padding: 7px;
    left: 10px;
    border-radius: 5px;
}

.notifications__clear-btn:hover {
    background-color: #404040;
    padding: 7px;
}
.notifications__close-btn {
    color: white;
    position: absolute;
    padding: 7px;
    right: 10px;
    border-radius: 5px;
}

.notifications__close-btn:hover {
    background-color: #404040;
    padding: 7px;
}

.notifications__list {
    max-height: 350px;
    overflow: auto;
}

.notificiation {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #122941;;
}

.notificiation:hover {
    background-color: #122941;
}

.notification__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.notification__msg {
    padding-left: 10px;
    width: 100%;
}

.notification__remove__container {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification__remove-btn { 
    padding: 2px;
}

.notification__remove-btn:hover { 
    background-color: red;
    padding: 2px;
    border-radius: 5px;
}

.notification__empty {
    width: 100%;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}