.cus-search {
    position: relative;
    display: inline-block;
    width: 100%;
}

.cus-search__search-bar.form-control {
    height: 30px;
    width: 100%;
    background-color:#122941;
    color:white;
    border: none
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: white;
}

.cus-search__search-bar::-webkit-input-placeholder {
    color: white !important;
}

.cus-search__results {
    position: absolute;
    background-color: #1c4269;
    border: 5px solid #1c4269;
    border-top: 0;
    top: 100%;
    left: 0;
    right: 0;
    padding-top: 5px;
}

.cus-search__result {
    height: 60px;
    width: 100%;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: #1c4269;
}

.cus-search__result:hover {
    background-color: #122941;
    cursor: pointer;
}

.cus-search__result__channel-logo {
    border-radius: 50%;
    margin-right: 15px;
}

.cus-search__result__game-logo {
    display: flex;
    align-items: center; 
    margin-right: 15px;
}

.cus-search__result__game-name {
    width: 95%;
    display: flex;
    align-items: center; 
}

.cus-search__result__game-follow-btn {
    padding-left: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
}
