.user-options {
    background-color: #262626;
    color: white;
    border: 10px solid #262626;
    border-radius: 0 0 3px 3px;
}

.user-option {
    display: flex;
    align-items: center;
    color: white;
    height: 40px;
}

.user-option i {
    padding-left: 8px;
}

.user-option p {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}

.user-option__divider {
    background-color: white;
    border: 1;
    border-color: white;
    margin: 5px 10px 5px 10px;
}

.user-option__signed-in-title {
    font-size: 10px;
}

.user-option__signed-in-as {
    font-size: 20px;
    margin-left: 15px;
    padding-right: 10px;
    color: white;
    background-color: #1c4269;
    border-radius: 5px;
    font-weight: bold;
}

.user-option-selectable {
    cursor: pointer;
}

.user-option-selectable:hover {
    background-color: #1c4269;
    border-radius: 5px;
}
